# {{ project_name }}

This is the **{{ project_name }}** service.

It demonstrates:

- A Dockerfile for AWS Lambda container images.
- Terragrunt + Terraform infrastructure.
- A serverless approach using AWS Lambda, ECR, and more.

## Getting Started

1. Install Jetify Devbox: https://www.jetify.com/docs/devbox/installing_devbox/
2. Set up your environment:

   ```sh
   devbox install
   just setup
   ```
3. Update the environment variables in `.env` or your environment.
4. Build the Docker image:

    ```sh
    just build
    ```

5. Deploy the infrastructure:

   ```sh
   just deploy-infra
   ```

6. Deploy the application:

   ```sh
   just deploy-app
   ```

## Secrets

```shell
cp secrets/lambda-secrets.yaml.template secrets/lambda-secrets.yaml
```

Fill it in, then copy the SOPS AGE key from 1Password into `~/.config/sops/age/key.txt`, then

```shell
export SOPS_AGE_KEY_FILE=~/.config/sops/age/keys.txt
sops --encrypt --in-place secrets/lambda-secrets.yaml
```
