terraform {
  backend "s3" {}
}

provider "aws" {
  region = "us-west-2"
}

data "external" "deploy_hash" {
  program = ["bash", "${var.repo_root_dir}/scripts/compute_deploy_hash.sh", "{{ project_name }}"]
  query   = {}  // Ignore any incoming query
}

resource "null_resource" "sam_deploy" {
  provisioner "local-exec" {
    working_dir = "${path.module}/../../.."
    command = "just sam-deploy"
  }
  
  # Add more comprehensive triggers to ensure redeployment when needed
  triggers = {
    ecr_repo_url = var.ecr_repo_url
    stack_name   = var.stack_name
    deploy_hash  = data.external.deploy_hash.result.hash
    role_arn = var.lambda_role_arn
  }
}

# Output the function name for other modules to reference
output "lambda_function_name" {
  value = "${var.project_prefix}-lambda"
  description = "The name of the deployed Lambda function"
}
