include {
  path = find_in_parent_folders("root.hcl")
}

dependency "infra" {
  config_path = "../../infrastructure"

  mock_outputs = {
    infra_output = "mock-infra-output"
  }
}

terraform {
  source = "../../modules/{{ project_name }}_pre"
}

inputs = {
  project_prefix = "{{ project_name_hyphens }}-dev-{{ random_suffix }}"
  region         = "us-west-2"
}
