output "rotation_table_name" {
  value = aws_dynamodb_table.deployment_rotation.name
}

output "override_table_name" {
  value = aws_dynamodb_table.override_requests.name
}

output "lambda_secrets_arn" {
  value = aws_secretsmanager_secret.lambda_secrets.arn
}

output "lambda_exec_role" {
  value = aws_iam_role.lambda_exec_role.arn
}

output "project_prefix" {
  value       = var.project_prefix
  description = "The computed project prefix, including any random suffix"
}
