include {
  path = find_in_parent_folders("root.hcl")
}

terraform {
  source = "../modules/infrastructure"
}

inputs = {
  project_prefix = "{{ project_name_hyphens }}-{{ random_suffix }}"
  region         = "us-west-2"
}
