AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31

Parameters:
  EcrRepoUrl:
    Type: String
    Description: ECR Repository URL
  
  LambdaRole:
    Type: String
    Description: IAM Role ARN for Lambda execution
    
  ProjectPrefix:
    Type: String
    Description: The project prefix with suffix, e.g. project-name-dev-randomsuffix

Resources:
  MyFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${ProjectPrefix}-lambda"
      PackageType: Image
      Role: !Ref LambdaRole
      Architectures:
        - arm64
      MemorySize: 128
      Timeout: 10
      Environment:
        Variables:
          ENVIRONMENT: dev
    AutoPublishAlias: live
    ProvisionedConcurrencyConfig:
      ProvisionedConcurrentExecutions: 1
    Metadata:
      DockerTag: latest
      DockerContext: ../
      Dockerfile: Dockerfile

Outputs:
  LambdaFunction:
    Description: Lambda Function Name
    Value: !Ref MyFunction
