AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31

Parameters:
  AwsRegion:
    Type: String
    Description: AWS Region

  LambdaRole:
    Type: String
    Description: IAM Role ARN for Lambda execution
    
  ProjectPrefix:
    Type: String
    Description: The project prefix with suffix, e.g. project-name-dev-randomsuffix

  SecretsArn:
    Type: String
    Description: Secrets Manager ARN for secrets

  OverrideTableName:
    Type: String
    Description: DynamoDB table name for overrides

  RotationTableName:
    Type: String
    Description: DynamoDB table name for rotation

  RotationScheduleTableName:
    Type: String
    Description: DynamoDB table name for rotation schedule

Resources:
  MyFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "${ProjectPrefix}-lambda"
      PackageType: Image
      Role: !Ref LambdaRole
      Architectures:
        - arm64
      MemorySize: 128
      Timeout: 10
      Environment:
        Variables:
          REGION: !Ref AwsRegion
          SECRETS_ARN: !Ref SecretsArn
          OVERRIDE_TABLE_NAME: !Ref OverrideTableName
          ROTATION_TABLE_NAME: !Ref RotationTableName
          ROTATION_SCHEDULE_TABLE_NAME: !Ref RotationScheduleTableName
      AutoPublishAlias: live
      ProvisionedConcurrencyConfig:
        ProvisionedConcurrentExecutions: 1
    Metadata:
      DockerTag: latest
      DockerContext: ../
      Dockerfile: Dockerfile
      DockerBuildTarget: final

Outputs:
  LambdaFunction:
    Description: Lambda Function Name
    Value: !Ref MyFunction
