package handler

import (
	"github.com/labstack/echo/v4"
)

type CompositeHandler struct {
	Slack *SlackHandler
	Tick  *TickHandler
}

// Implement PostSlack by delegating to the SlackHandler.
func (h *CompositeHandler) PostSlack(ctx echo.Context) error {
	return h.Slack.PostSlack(ctx)
}

// Implement PostTick by delegating to the TickHandler.
func (h *CompositeHandler) PostTick(ctx echo.Context) error {
	return h.Tick.PostTick(ctx)
}
